<!DOCTYPE html>
<html  xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
<meta charset="ISO-8859-1">
<title>Home</title>

	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

	<link href="/static/css/style.css" rel="stylesheet" type="text/css"  />

</head>
<body>
	<br>
	<br>
	<br>
	<div class="container">
<p th:if="${msg}" th:text="${msg}"></p>
		<div class="col-lg-8 m-auto d-block">
			<h3>Crud Process Using spring boot</h3>
			<form th:action="@{/save}" th:object="${user}" method="POST"
				class="bg-light">
				<div class="form-grp">
					<label class="label">Name</label> <input type="text" th:field="*{name}"
						placeholder="Name" class="form-control" required />
				</div>

				<div class="form-grp">
					<label class="label">Age</label> <input type="text" th:field="*{age}"
																 placeholder="Age" class="form-control" required />
				</div>

				<div class="form-grp">
					<label class="label">Email</label> <input type="text" th:field="*{email}"
						placeholder="Email" class="form-control" required />
				</div>


				<div class="form-grp">
					<label class="label">Address</label> <input type="text" th:field="*{address}"
						placeholder="Address" class="form-control" required  />
				</div>


				<div class="form-grp">
					<label class="label">contact</label> <input type="text" th:field="*{contact}"
						placeholder="Enter your contact" class="form-control" required th:maxlength="10" />
				</div>




				<br> <input type="submit" th:href="@{/show}" class="btn btn-success"
					value="submit" />


				<a th:href="@{/show}" class="btn btn-warning">show data</a>

			</form>

		</div>

	</div>
</body>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

</html>