<!DOCTYPE html>
<html  xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
<meta charset="ISO-8859-1">
<title>Display Data</title>
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

</head>
<body>
<div id="main">
	<div class="container">
		<form th:action="@{/find}" id="add-user">
			<input type="text" name="keyword" placeholder="Enter Name" style="text-decoration-color: brown" class="form-control" required />
		</form>
	</div>
</div>



</nav>
	<br>
	<br>
	<table class="table table-dark">
		<thead>
			<tr>
				<th scope="col">Id</th>
				<th scope="col">Name</th>
				<th scope="col">Age</th>
				<th scope="col">Email</th>
				<th scope="col">Address</th>
				<th scope="col">Contact</th>

			</tr>
		</thead>

		<tbody>
			<tr th:each="temp : ${list}">
				<th scope="row" th:text="${temp.id}">1</th>
				<td th:text="${temp.name}"></td>
				<td th:text="${temp.age}"></td>
				<td th:text="${temp.email}"></td>
				<td th:text="${temp.address}"></td>
				<td th:text="${temp.contact}"></td>


				<td><a class="btn btn-warning"
					th:href="@{update/{id}(id=${temp.id})}">update</a></td>
				<td><a class="btn btn-warning"
					th:href="@{delete/{id}(id=${temp.id})}">delete</a></td>
			</tr>

			<tr th:each="temp : ${u}">
				<td scope="row" th:text="${temp.id}">1</td>
				<td th:text="${temp.name}"></td>
				<td th:text="${temp.age}"></td>
				<td th:text="${temp.email}"></td>
				<td th:text="${temp.address}"></td>
				<td th:text="${temp.contact}"></td>
				<td><a class="btn update" th:href="@{update/{id}(id=${temp.id})}">
					<span class="text-gradient"><i class="fas fa-pen"></i></span>
				</a>
					<a class="btn delete" th:href="@{delete/{id}(id=${temp.id})}">
						<span class="text-gradient"><i class="fas fa-times"></i></span>
					</a></td>
			</tr>
		</tbody>
	</table>

<a class="btn btn-info" th:href="@{/}">Go Back to Home Page</a>


	<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>







</body>
</html>